@CHARSET "UTF-8";

body {
	text-align: center;
	padding-top: 4.5vw;
	font: 1.8vw "Arial";
}
p {
	display: block;
	margin: 0.4vw;
}
.error {
	position: absolute;
	width: 20vw;
}
.error p {
	position: relative;
	top: 0.5vw;
	color: red;
	font-size: 1vw;
}
table {
	margin: auto;
	border-collapse: collapse;
}
th, td {
	border: 0.2vw solid black;
	padding: 1vw;
	min-width: 20vw;
}
td {
	height: 7.5vw;
}
input {
	width: 3em;
	text-align: center;
	font: 1.8vw "Arial";
}
input[type="submit"] {
	margin-left: 2vw;
	padding: 0px;
	width: 4vw;
}
#celsius p, #fahrenheit p {
	font-size: 2em;
	color: blue;
}
